<div class="szuro">
	<h4>Kedvezmények:</h4>
	<div id="kedvezmenyek">
		<% if (kedvezmenyek.length === kedvezmenyekSz.length) { %>
			<div class="kedvezmeny">
				<input checked type="checkbox" id="kedvezmeny-mind" />
				<label for="kedvezmeny-mind">Minden kedvezmény</label>
			</div>
			<div id="belso-kedvezmenyek">
				<% kedvezmenyek.forEach(elem => { %>
				<div class="kedvezmeny">
					<input type="checkbox" id="kedvezmeny<%= elem %>" />
					<label for="kedvezmeny<%= elem %>"><%= elem %>%</label>
				</div>
				<% }) %>
			</div>
		<% } else { %>
			<div class="kedvezmeny">
				<input type="checkbox" id="kedvezmeny-mind" />
				<label for="kedvezmeny-mind">Minden kedvezmény</label>
			</div>
			<div style="display: flex;" id="belso-kedvezmenyek">
				<% kedvezmenyek.forEach(elem => { %>
					<% if (kedvezmenyekSz.includes(elem)) { %>
						<div class="kedvezmeny">
							<input checked type="checkbox" id="kedvezmeny<%= elem %>" />
							<label for="kedvezmeny<%= elem %>"><%= elem %>%</label>
						</div>
					<% } else { %>
						<div class="kedvezmeny">
							<input type="checkbox" id="kedvezmeny<%= elem %>" />
							<label for="kedvezmeny<%= elem %>"><%= elem %>%</label>
						</div>
					<% } %>
				<% }) %>
			</div>
		<% } %>
	</div>
</div>
